#show-purchases-section {
  display: none;
}

#add-purchase-section {
	display: none;
}

.category-clickable {
  cursor: pointer;
  color: #08c;
}

.category-clickable:hover {
  text-decoration: underline;
}
